@media screen and (min-width: 375px) {
  .body1 {
    padding: 0 24px 127px 0;
    width: 100%;
    height: 100%;
  }

  .btn a {
    display: none;
    color: rgb(3, 2, 2);
    text-decoration: none;
    font-size: 20px;
  }

  .socio_m a:hover {
    background-color: blue;
    color: white;
  }

  h2 {
    color: #6070ff;
  }

  .head {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    color: #172b4d;
    display: flex;
    background:
      url(svg/Ellipse\ 3.png) no-repeat right top,
      url(svg/Rectangle\ 4.png) no-repeat right top,
      url(svg/Ellipse\ 14.svg) no-repeat center bottom,
      url(svg/Ellipse\ 8.svg) no-repeat center top,
      url(svg/Ellipse\ 11.svg) no-repeat top left,
      url(rectangl6.png) no-repeat top left,
      url(svg/Ellipse\ 5.svg) no-repeat top center,
      url(svg/rectangl7.png) no-repeat top center,
      url(svg/Ellipse\ 8.svg) no-repeat top center;
  }

  /* am trying to make hovver butoon option */
  .btn {
    fill: #6070ff;
    border: #fff;
    float: right;
    width: 50px;
    margin-left: 25%;
  }

  .btn:hover .content {
    display: block;
  }

  .btn:hover a {
    display: inline-block;
    background-color: white;
  }

  .btn a:hover {
    background-color: orangered;
  }

  .option {
    display: none;
  }

  .icon:hover .option {
    display: block;
  }

  .logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    color: #6070ff;
    width: 70px;
    height: auto;
    float: left;
    margin-right: 50%;
  }

  .intro {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #344563;
  }

  .bottom_section {
    width: 400px;
    height: 100px;
    background:

      url(svg/Ellipse\ 12.svg) no-repeat top right,
      url(svg/Ellipse\ 13.svg) no-repeat top right calc(4% - 2px);
  }

  .last_bottom {
    width: 300px;
    height: 100px;
    background:
      url(svg/Ellipse\ 4.svg) no-repeat center right calc(20% - 30px),
      url(svg/rectangle5.png) no-repeat center right,
      url(svg/Ellipse\ 15.png) no-repeat center left;
  }

  /* .twit:hover {
    color: orange;
  } */

  .div3_4 {
    float: right;
  }

  .status_bar2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    color: #6070ff;
    float: left;
  }

  .l9 {
    border-radius: 100%;
    fill: #6070ff;
  }

  .elp3 {
    border-radius: 100%;
    fill: #6070ff;
    padding-left: 350px;
    padding-top: 0%;
    border-top: 0;
  }

  .elp15 {
    border-radius: 100%;
    fill: #6070ff;
    padding-top: 100px;
  }

  .elp14 {
    padding-top: 200px;
    border-radius: 100%;
    fill: #fff;
    stroke-width: 1px;
    stroke: #cbcdff;
  }

  .elp8 {
    padding-left: 200px;
    border-radius: 100%;
    fill: #fff;
    stroke-width: 1px;
    stroke: #cbcdff;
  }

  .elp11 {
    display: block;
    fill: #6070ff;
  }

  .elp5 {
    border-radius: 100%;
    fill: #cbcdff;
    padding-left: 150px;
  }

  .elp7 {
    width: 26px;
    height: auto;
  }

  .elp4png {
    width: 95px;
    height: auto;
    padding-left: 300px;
    float: right;
    padding-right: 0;
  }

  .elp6r {
    width: 51px;
    height: 9px;
  }

  .delp4 {
    border-radius: 100%;
    fill: #6070ff;
  }

  .elp5_elp7 {
    display: flex;
    padding: 0%;
  }

  .rect6 {
    width: 10px;
    height: auto;
    background: #ebebff;
    transform: rotate(46deg);
  }

  .rect6_el11 {
    display: flex;
    padding: 0%;
  }

  .elp12_13 {
    background:
      url(svg/Ellipse\ 12.svg) no-repeat top right,
      url(svg/Ellipse\ 13.svg) no-repeat top right;
    width: 30%;   /* 400px */
    height: 50px;
    float: right;
  }

  .status_bar {
    padding: 5% 5% 10% 2%;
    display: flex;
    background: url(svg/Ellipse\ 8.svg) no-repeat  center;
  }

  .top_bar {
    display: flex;

    .logodesk {
      display: none;
    }
  }
}

@media screen and (min-width: 786px) {
  .port:hover,
  .about:hover,
  .contat:hover {
    color: blue;
  }

  .body1 {
    padding: 10px;
    width: 100%;
    height: auto;
  }

  .head {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #091e42;
    background: none;
  }

  .logodesk {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    text-align: center;
    color: #6070ff;
    width: 70px;
    height: auto;
    float: left;
    margin-right: 50%;
  }

  .intro {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #344563;
  }

  .deskimges_up {
    width: 98%;
    height: 150px;
    background:
      url(svg/Ellipse\ 3.png) no-repeat right top,
      url(svg/Rectangle\ 4.png) no-repeat right top calc(-30%),
      url(svg/Ellipse\ 14.svg) no-repeat center bottom,
      url(svg/Ellipse\ 8.svg) no-repeat center top calc(-20%),
      url(svg/topleft.png) no-repeat top left,
      url(svg/topcenter.png) no-repeat center top;
  }

  .content_desk {
    width: 70%;
    height: 100%;
    margin-left: 15%;
  }

  .buttomdesk {
    width: 80%;
    height: 200px;
    padding: 20px;
    background:
      url(svg/botom1.png) no-repeat bottom left calc(20%),
      url(svg/botomleft.png) no-repeat bottom right,
      url(svg/Ellipse\ 15.png) no-repeat bottom right calc(+50px);
  }

  .bottom_section {
    display: none;
    background: none;
  }

  .last_bottom {
    display: none;
    background: none;
  }

  .socio_m {
    margin-left: 10%;
  }

  .delp4 {
    border-radius: 100%;
    fill: #6070ff;
  }

  .elp5_elp7 {
    display: flex;
    padding: 0%;
  }

  .rect6 {
    width: 10px;
    height: auto;
    background: #ebebff;
    transform: rotate(46deg);
  }

  .rect6_el11 {
    display: flex;
    padding: 0%;
  }

  .elp12_13 {
    background:
      url(svg/Ellipse\ 12.svg) no-repeat top right,
      url(svg/Ellipse\ 13.svg) no-repeat top right;
    width: 30%;   /* 400px */
    height: 100%;
    float: right;
  }

  .status_bar {
    display: none;
  }

  .top_bar {
    display: block;
    width: 100%;
    height: 110%;

    .option {
      width: 20%;
      height: 100%;
      display: inline;
      float: right;
    }

    .logodesk {
      display: flex;
      float: left;
    }
  }

  .socio_m a:hover {
    background-color: blue;
    color: white;
  }
}
